<script src="/static/js/grid.js"></script>
<script src="/static/js/buildingElements.js"></script>
<script src="/static/js/userElements.js"></script>
<script src="/static/js/userDraw.js"></script>
<script src="/static/js/2Dmain.js"></script>
<script src="/static/js/UItable.js"></script>


<!-- 2d global variables -->
<script>
    var orthoMode = false;
    var grid;
    var currentBldClass;
    var bldgElems = [];
    var bldgElemClasses = [];
    var bldgElemClassesByNames = [];
    var dynamicPoints = [];
    var currentRotation = 0;
    var selectedElement;
    var selectedID;
    var currentLevel;
    var datalist;
    var backgroundColor;
</script>

<div id="2D"></div> <!-- For the 2D view -->
<div id="form"></div> <br> <!-- For the edit input buttons -->
<div id="objTable">some text</div> <!-- For the object proporty table  -->
<div id="objCreateOrEdit"></div> <!-- For the object edit table - currently commented out  -->

<div id="div3D"></div> <!-- For the 3D view -->
<div id="divLevel3D"></div> <!-- For the Levels panel -->

<!-- 3d global variables -->
<script>
    var scene3d, camera3d, renderer, controls, light;
    var meshArr = [];
    var ang = 0.0;
    div3d=document.getElementById('div3D');
    var CANVAS_WIDTH = 630;
    var CANVAS_HEIGHT = 300;
</script>
<script src="/static/js/3Dmain.js"></script>

<script>
    setup3d();
    setInterval(draw3d, 100);
</script>


<form action="/add" method="post">
    <textarea name="details" id="update" hidden></textarea>
    Enter filename: <input type="text" value="filename" name="name" id="filename" required />
    <button type="submit" class="button" onclick="transmitData()"> SUBMIT DATA </button>
</form>